动力油耗/Service References/WeightWCFServer/LZ_TEST.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LZ_TEST" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LZ_TEST" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BackDataTpye">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BackDataTpye" nillable="true" type="tns:BackDataTpye" />
  <xs:complexType name="InputDataType">
    <xs:sequence>
      <xs:element minOccurs="0" name="CLHP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZS" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InputDataType" nillable="true" type="tns:InputDataType" />
</xs:schema>