动力油耗/Service References/WeightWCFServer/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LZServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/LZ_TEST" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILZServices_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="ILZServices_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="ILZServices_GetTestStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTestStatus" />
  </wsdl:message>
  <wsdl:message name="ILZServices_GetTestStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTestStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ILZServices_SetTestStart_InputMessage">
    <wsdl:part name="parameters" element="tns:SetTestStart" />
  </wsdl:message>
  <wsdl:message name="ILZServices_SetTestStart_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetTestStartResponse" />
  </wsdl:message>
  <wsdl:message name="ILZServices_SetTestStop_InputMessage">
    <wsdl:part name="parameters" element="tns:SetTestStop" />
  </wsdl:message>
  <wsdl:message name="ILZServices_SetTestStop_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetTestStopResponse" />
  </wsdl:message>
  <wsdl:message name="ILZServices_GetTestResult_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTestResult" />
  </wsdl:message>
  <wsdl:message name="ILZServices_GetTestResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTestResultResponse" />
  </wsdl:message>
  <wsdl:portType name="ILZServices">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/ILZServices/DoWork" message="tns:ILZServices_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILZServices/DoWorkResponse" message="tns:ILZServices_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTestStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ILZServices/GetTestStatus" message="tns:ILZServices_GetTestStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILZServices/GetTestStatusResponse" message="tns:ILZServices_GetTestStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetTestStart">
      <wsdl:input wsaw:Action="http://tempuri.org/ILZServices/SetTestStart" message="tns:ILZServices_SetTestStart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILZServices/SetTestStartResponse" message="tns:ILZServices_SetTestStart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetTestStop">
      <wsdl:input wsaw:Action="http://tempuri.org/ILZServices/SetTestStop" message="tns:ILZServices_SetTestStop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILZServices/SetTestStopResponse" message="tns:ILZServices_SetTestStop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTestResult">
      <wsdl:input wsaw:Action="http://tempuri.org/ILZServices/GetTestResult" message="tns:ILZServices_GetTestResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILZServices/GetTestResultResponse" message="tns:ILZServices_GetTestResult_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILZServices" type="tns:ILZServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/ILZServices/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestStatus">
      <soap:operation soapAction="http://tempuri.org/ILZServices/GetTestStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTestStart">
      <soap:operation soapAction="http://tempuri.org/ILZServices/SetTestStart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTestStop">
      <soap:operation soapAction="http://tempuri.org/ILZServices/SetTestStop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestResult">
      <soap:operation soapAction="http://tempuri.org/ILZServices/GetTestResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LZServices">
    <wsdl:port name="BasicHttpBinding_ILZServices" binding="tns:BasicHttpBinding_ILZServices">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/LZ_TEST/LZService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>