动力油耗/Service References/WeightWCFServer/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/LZ_TEST" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LZ_TEST" minOccurs="0" name="GetTestStatusResult" nillable="true" type="q1:BackDataTpye" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTestStart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LZ_TEST" minOccurs="0" name="carinfo" nillable="true" type="q2:InputDataType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTestStartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LZ_TEST" minOccurs="0" name="SetTestStartResult" nillable="true" type="q3:BackDataTpye" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTestStop">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTestStopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LZ_TEST" minOccurs="0" name="SetTestStopResult" nillable="true" type="q4:BackDataTpye" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestResult">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LZ_TEST" minOccurs="0" name="GetTestResultResult" nillable="true" type="q5:BackDataTpye" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>